.containerTemplate {
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#card {
   
    min-width: 40vw;
   
    min-height: 70vh;
    border-radius: 15px;
    background-color: black;
   
   
}
#card-body {
    background-color: black;
    border: 2px solid rgb(255, 230, 0);
    border-radius: 15px;
    text-align: center;
    display: flex;
  
    align-items: center;
    flex-direction: column;
}
#imgTemplate {
    height: 250px;
    width: 300px;
}
#text1template {
 color: white;
 font-family: 'Nunito';
 font-size: 33px;
}
#text2template {
    color: white;
    font-family: 'Nunito';
    font-size: 20px;
    color: yellow;
    margin-top: 1.5vh;
}
#btn_template_voltar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5vw;
    margin-top: 8vh;
}